body{
    background-color: antiquewhite;
}
*{
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display:flex;
    align-items:center;
    font-weight: bolder;
    font-size:1.3rem;

}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 67%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bgp.jpg');
  
    
}



.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height:80px;
    
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.icons{
    margin: 12px 0;
    cursor: pointer;
    
    
}

#myprogressbar{
    width: 80%;
    cursor: pointer;
   
}

.songitem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius:34px;
}
.songitem img{
    width: 50px;
    margin: 0 12px;
    border-radius: 40px;
    
}
.songitem i{
    
    margin: 0 34px;
    cursor: pointer;
    
}
.songinfo{
   position: absolute;
   left: 17vh;
}
.songinfo img{
opacity: 0;
transition: opacity 0.3s ease-in;
}